.root{
-fx-background-image: url('../Myndir/Bord2.jpg');
 -fx-background-size: cover;
 -fx-font-size: 14px;
}
#bord{
-fx-border-color:black;
-fx-border-width:15;
-fx-border-width:5;
}
#Ja{
-fx-background-color:#B4CFA2;
-fx-border-color:Black;
-fx-border-width:1.5;
-fx-border-radius:7;
-fx-background-radius:8;
-fx-alignment: center_left;
}
#Nei{
-fx-background-color:#DFCFCD;
-fx-border-color:Black;
-fx-border-width:1.5;
-fx-border-radius:7;
-fx-background-radius:8;
-fx-alignment: center_left;
}
#Draga{
-fx-background-color:#CBBA64;
-fx-border-color:Black;
-fx-border-width:2.5;
-fx-border-radius:7;
-fx-background-radius:9;
}
#Vote{
-fx-background-color:#DFE6E9;
}
#Blar{
-fx-background-image: url('../Myndir/Smidur.jpg');
    -fx-background-size: contain;
    -fx-background-position: center;
}
#Gaen{
-fx-background-image: url('../Myndir/Krakkar.jpg');
    -fx-background-size: contain;
    -fx-background-position: center;
}