.B{
-fx-fit-width: 100px; /* Set the width to your desired value */
    -fx-fit-height: 100px; /* Set the height to your desired value */
}
.G{
-fx-fit-width: 100px; /* Set the width to your desired value */
    -fx-fit-height: 100px; /* Set the height to your desired value */
}