.root{
-fx-background-color:#DFE6E9;
 -fx-background-size: cover;
}
.vbox {
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}
.button{
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-alignment: center;
}